
.imagen
{
    /*background-image: url(/../img/libro2.png);
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-repeat:no-repeat;
    background-size: 450px;*/
    background-color: lightgray;
    color: gray;
    text-align: center;
}

.imagen2
{
    background-image: url(/../img/hoja_de_papel.png);
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-repeat:no-repeat;
    background-size: 420px;
}

.img-pie
{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.lineaimg
{
    width: 100%;
    margin-top: 0px;
}